<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>map wahoo</title>
    <style>
      iframe {
        width: 100vw;
        height: 80vh;
      }
    </style>
  </head>
  <body>
    <div>
      <p>Legend</p>
      <ul>
        <li><a href="/bike_type">bike type</a></li>
        <li><a href="/lfct">time of day</a></li>
      </ul>
    </div>
    <iframe src="{{ map }}"></iframe>
  </body>
</html>
